<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:replace="Part/header :: header">
</head>
<body>
<div th:replace="Part/nav :: navigation"></div>
<div th:if="${Call != null}" class="alert alert-primary text-center" role="alert">
    [[${Call}]]
</div>
<div class="container">

    <div th:if="${#authentication.principal.user.id} == ${boardDetail.user.id}">
        <a th:href="@{'/boardForm/updateForm/' + ${boardDetail.id}}">
            <button id="btn-update" class="btn btn-warning m-3">수정</button>
        </a>
        <button id="btn-delete" class="btn btn-danger">삭제</button>
    </div>

    <br/><br/>
    <div>
        글 번호 : <span id="id"><i>[[${boardDetail.id}]]</i></span>
        작성자 : <span><i>[[${boardDetail.user.username}]]</i></span>
    </div>
    <br/>
    <div>
        <h3>제목 : [[${boardDetail.title}]]</h3>
    </div>
    <hr/>
    <div>
        <div th:utext="${boardDetail.content}"></div>
    </div>
    <hr/>

    <div class="card">
        <form>
            <input type="hidden" id=boardId th:value="${boardDetail.id}">
            <div class="card-body">
                <textarea class="form-control" id="reply-content" rows="1"></textarea>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" id="btn-reply-save">등록</button>
                </div>
            </div>
        </form>
    </div>
    </br>
    <div class="card">
        <div class="card-header">댓글 리스트</div>
        <ul id="comment--box" class="list-group">
            <th:block th:each="reply : ${boardDetail.reply}">
                <li id="comment--1" class="list-group-item d-flex justify-content-between">
                    <div class="d-flex">
                        <div>[[${reply.content}]] -</div>
                        <div class="font-italic">작성자 : [[${reply.user.username}]] &nbsp;</div>
                        <form th:action="@{'/api/reply/delete/' + ${reply.id}}" method="post">
                            <input type="hidden" name="replyId" th:value="${reply.id}">
                            <input type="hidden" name="boardId" th:value="${boardDetail.id}">
                            <div th:if="${#authentication.principal.user.id} == ${boardDetail.user.id}">
                            <button type="submit" class="badge">삭제</button>
                            </div>
                        </form>
                    </div>
                </li>
            </th:block>
        </ul>
    </div>

    <button class="btn btn-secondary m-1" onclick="history.back()">돌아가기</button>
</div>
<script src="/SpringBoard/js/board.js"></script>
</body>
</html>