<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:replace="Part/header :: header">
</head>
<body>
<div th:replace="Part/nav :: navigation"></div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">만든 날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${everyBoard}">
        <td>[[${board.id}]]</td>
        <td><a th:href="@{'/board/view/detail/' + ${board.id}}">[[${board.title}]]</a></td>
        <td>[[${board.user.username}]]</td>
        <td>[[${board.createDate}]]</td>
    </tr>
    </tbody>
</table>
<div th:replace="Part/footer :: pagination"></div>
</body>
</html>