<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:replace="Part/header :: header">
</head>
<body>
<div th:replace="Part/nav :: navigation"></div>

<div class="container">

    <div th:if="${#authentication.principal.user.id} == ${boardDetail.user.id}">
        <a th:href="@{'/boardForm/updateForm/' + ${boardDetail.id}}">
            <button id="btn-update" class="btn btn-warning m-3">수정</button>
        </a>
        <button id="btn-delete" class="btn btn-danger">삭제</button>
    </div>

    <br/><br/>
    <div>
        글 번호 : <span id="id"><i>[[${boardDetail.id}]]</i></span>
        작성자 : <span><i>[[${boardDetail.user.username}]]</i></span>
    </div>
    <br/>
    <div>
        <h3>제목 : [[${boardDetail.title}]]</h3>
    </div>
    <hr/>
    <div>
        <div th:utext="${boardDetail.content}"></div>
    </div>
    <hr/>

<button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
</div>
<script src="/SpringBoard/js/board.js"></script>
</body>
</html>