<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:replace="Part/header :: header">
</head>
<body>
<div th:replace="Part/nav :: navigation"></div>

<form style="margin: 0 auto; width: 700px;">
    <div class="mb-3 mt-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" placeholder="Enter email" name="email">
    </div>
    <label for="comment">Comments:</label>
    <textarea class="form-control summernote" rows="5" id="content" name="text"></textarea>
</form>

<script src="/SpringBoard/js/board.js"></script>
</body>
</html>