<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav th:fragment="pagination">
    <ul class="pagination justify-content-center">
        <li th:class="${count>1} ? 'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/board/view/' + ${count-1} + '?classify=' + ${classify} + '&Direction=' + ${Direction}}">Previous</a>
        </li>
        <li  th:class="${CountBy==count} ? 'page-item active' : 'page-item'" th:each="CountBy : ${#numbers.sequence(1,everyPage)}"><a class="page-link" th:href="@{'/board/view/' + ${CountBy} + '?classify=' + ${classify} + '&Direction=' + ${Direction}}">[[${CountBy}]]</a></li>
        <li th:class="${count<everyPage} ? 'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/board/view/' + ${count+1} + '?classify=' + ${classify} + '&Direction=' + ${Direction}}">Next</a>
        </li>
    </ul>
</nav>
</body>
</html>