<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:replace="Part/header :: header">
</head>
<body>
<div th:replace="Part/nav :: navigation"></div>

<table class="table">
    <thead class="table-primary">
    <tr>
        <th scope="col">번호</th>
        <th scope="col">
            <a th:if="${classify != 'username'}" th:href="@{'/index/' + ${nowPage} + '?classify=username&Direction=' + ${Direction}}">이름</a>
            <a th:if="${classify == 'username'}" th:href="@{'/index/' + ${nowPage} + '?classify=username&Direction=' + ${flip}}">이름</a>
            <span th:if="${classify == 'username'}" th:class="${Direction == 'asc' ? 'fa-solid fa-arrow-up' : 'fa-solid fa-arrow-down'}"></span>

        </th>
        <th scope="col">
            <a th:if="${classify != 'email'}" th:href="@{'/index/' + ${nowPage} + '?classify=email&Direction=' + ${Direction}}">이메일</a>
            <a th:if="${classify == 'email'}" th:href="@{'/index/' + ${nowPage} + '?classify=email&Direction=' + ${flip}}">이메일</a>

            <span th:if="${classify == 'email'}" th:class="${Direction == 'asc' ? 'fa-solid fa-arrow-up' : 'fa-solid fa-arrow-down'}"></span>

        </th>
        <th scope="col">가입날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userList : ${List}">
        <td>[[${userList.id}]]</td>
        <td>[[${userList.username}]]</td>
        <td>[[${userList.email}]]</td>
        <td>[[${userList.createTimestamp}]]</td>
    </tr>
    </tbody>
</table>

<nav>
    <ul class="pagination justify-content-center">
        <li th:class="${count>1} ? 'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/index/' + ${count-1}}">Previous</a>
        </li>
        <li th:class="${CountBy==count} ? 'page-item active' : 'page-item'" th:each="CountBy : ${#numbers.sequence(1,everyPage)}"><a class="page-link" th:href="@{'/index/' + ${CountBy}}">[[${CountBy}]]</a></li>
        <li th:class="${count<everyPage} ? 'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/index/' + ${count+1}}">Next</a>
        </li>
    </ul>
</nav>
</body>
</html>